#header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#create_btn {
    display: flex;
}

#create_btn a {
    margin-left: 10px;
}

#list_wrapper {
    display: flex;
    width: auto;
}

img {
    width: auto;
    height: 150px;
}

model-viewer {
    background-color: #CC99CC;
}

#reveal {
    --poster-color: transparent;
}