{% extends 'base.html' %}
{% block header %}
<div class="alert alert-primary" role="alert">
    <h3>作品登録</h3>
</div>
{% endblock header %}
{% block content %}

<form method="POST" enctype="multipart/form-data">{% csrf_token %}
    <p>タイトル: <input type="text" name="title"></p>
    <p>説明: <input type="text" name="content"></p>
    <p>ファイルの種類:
        <input type="radio" class="filetype" name="filetype" value="picture" checked>写真
        <input type="radio" class="filetype" name="filetype" value="movie">動画
        <input type="radio" class="filetype" name="filetype" value="3d">3Dデータ
    </p>
    <p><input type="file" name="craftimage"></p>
    <p>保管場所:<input type="text" name="storage"></p>
    <input type="hidden" name="author" value="{{user.username}}">
    <input type="submit" value="登録する">
</form>
<a href="{% url 'list' %}">戻る</a>
{% endblock content %}