{% extends 'base.html' %}

{% block header %}
<div class="alert alert-primary" role="alert">
    <h3>作品削除</h3>
</div>
{% endblock header %}

{% block content %}
{% if user.is_authenticated %}
<div class="container">
    <div class="alert alert-success" role="alert">
        <p>タイトル:{{ object.title }}</p>
        <p>投稿者:{{ object.author }}</p>
        <p>ファイルの種類:{{ object.filetype }}</p>
        <p>保管場所:{{ object.storage }}</p>
        <p><img src="{{ object.craftimage.url }}" height="400px" width="auto"></p>

        <form method="POST" enctype="multipart/form-data">{% csrf_token %}
            <input type="submit" value="削除する">
        </form>
    </div>
    <a href="{% url 'list' %}">戻る</a>
</div>
{% else %}
please login
{% endif %}
{% endblock content %}