{% extends 'base.html' %}
{% block header %}
<div class="alert alert-primary" role="alert">
    <h3>作品更新</h3>
</div>
{% endblock header %}
{% block content %}

<form method="POST" enctype="multipart/form-data">{% csrf_token %}
    <p>タイトル: {{ form.title }}</p>
    <p>説明: {{ form.content }}</p>
    <p>{{ form.craftimage }}</p>
    <p>保管場所:{{ form.storage }}</p>
    <input type="hidden" name="author" value="{{user.username}}">
    <input type="submit" value="更新する">

</form>
<a href="{% url 'list' %}">戻る</a>
{% endblock content %}